/*======================
    404 page
=======================*/


.page_404 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif") no-repeat center center/contain;
    height: 100vh;
    background-position: center;
    background-size: contain;
    width: 100%;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}


#err-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#err-page-sec {
    width: 100vw;
}

#container-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

#something{
    width: 100%;
}