#product-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-view h1{
  padding: 40px;
}

#product-view{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  height: auto;
  padding: 40px;
}

#image-container {
  height: 40vh;
    object-fit: contain;
  }
  
  #product-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0px;
    transition: .6s ease-in-out;
  }

  #product-image:hover{
    transform: scale(1.5);
  }

  .card{
    width: 50% ;
  }